<div id="about">
  <div class="white-box">
    <div class="container">
      <h1 class="text-dark text-center py-4">About</h1>
      <div class="row p-4">
        <div class="col-12">
          <p class="text-dark">
            This website was built based on people's needs. By any chance,
            during your vacation with family or friends,
            <strong
              >have you ever had problems choosing the beds or rooms</strong
            >? So, I decided to solve this problem with this random room
            generator in order to make the allocation of rooms fair.
          </p>
        </div>
        <div class="col-12">
          <p class="text-dark">
            I hope that this site will help in the dilemma of choosing rooms or
            beds. To be completely fair, assign a number to a room or bed and,
            depending on the result of the generator, it is automatically
            assigned.
          </p>
        </div>
        <div class="col-12">
          <p class="text-dark">
            None of the information entered on this website will be stored or
            used for other purposes only to generate random results.
          </p>
        </div>
        <div class="col-12">
          <p class="text-dark">
            If you found any problems or want to contact me, please email me at
            <a class="link" href="emailto:support@fsdev.com"
              >support@fsdev.com</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
