// global variables
$body-bg: #03f8ae;
$primary: #03f8ae;
$dark: #626262;
$white: #f9f9f9;

// Global styles
html,
body {
  height: 100%;
}

.white-box {
  background: $white;
  max-width: 850px;
  margin: auto;
  max-height: 100%;
  border-radius: 20px;
  padding: 10px;
}
